@charset "UTF-8";
@font-face { font-family: "iconfont"; src: url("../lib/icon_ate/iconfont.eot?t=1499307593340"); /* IE9*/ src: url("../lib/icon_ate/iconfont.eot?t=1499307593340#iefix") format("embedded-opentype"), url("../lib/icon_ate/iconfont.woff?t=1499307593340") format("woff"), url("../lib/icon_ate/iconfont.ttf?t=1499307593340") format("truetype"), url("../lib/icon_ate/iconfont.svg?t=1499307593340#iconfont") format("svg"); /* iOS 4.1- */ }

.iconfont { font-family: "iconfont" !important; font-size: 16px; font-style: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.icon-zoom:before { content: "\e60d"; }

.icon-shouji:before { content: "\e601"; }

.icon-user:before { content: "\e602"; }

.icon-yanzhengma:before { content: "\e603"; }

.icon-mingpian:before { content: "\e604"; }

.icon-zhengque:before { content: "\e605"; }

.icon-gouxuan:before { content: "\e606"; }

.icon-shang:before { content: "\e607"; }

.icon-bianji:before { content: "\e608"; }

.icon-dianhua:before { content: "\e609"; }

.icon-chakan:before { content: "\e60a"; }

.icon-daxiao:before { content: "\e60b"; }

.icon-jiazai:before { content: "\e60c"; }

.icon-shangyiye:before { content: "\e60e"; }

.icon-xiangxia:before { content: "\e60f"; }

.icon-shouji1:before { content: "\e610"; }

.icon-wudayoushi-zhuanye:before { content: "\e611"; }

.icon-xuexiao:before { content: "\e612"; }

.icon-xuexiao1:before { content: "\e613"; }

.icon-yonghu:before { content: "\e614"; }

.icon-youxiang:before { content: "\e615"; }

.icon-youxiang1:before { content: "\e616"; }

.icon-zhuanye:before { content: "\e617"; }

.icon-zan:before { content: "\e618"; }

.icon-zengjia:before { content: "\e619"; }

.icon-zhuanye-:before { content: "\e61a"; }

.icon-chenggong:before { content: "\e61b"; }

.icon-time:before { content: "\e61c"; }

.icon-biaoge:before { content: "\e61d"; }

.icon-bianjizhuanti:before { content: "\e61e"; }

.icon-chenggong1:before { content: "\e61f"; }

.icon-bianji1:before { content: "\e620"; }

.icon-guanli:before { content: "\e621"; }

.icon-fujian:before { content: "\e622"; }

.icon-huifu:before { content: "\e623"; }

.icon-pinglun:before { content: "\e624"; }

.icon-quxiao:before { content: "\e625"; }

.icon-jianliguanli:before { content: "\e626"; }

.icon-shanchu:before { content: "\e627"; }

.icon-shangchuan:before { content: "\e628"; }

.icon-tianjia:before { content: "\e629"; }

.icon-shangchuan1:before { content: "\e62a"; }

.icon-wanshanxinxi:before { content: "\e62b"; }

.icon-xiugaimima:before { content: "\e62c"; }

.icon-yanjing:before { content: "\e62d"; }

.icon-xueshengguanli:before { content: "\e62e"; }

.icon-zuihouye:before { content: "\e62f"; }

.icon-chakan1:before { content: "\e630"; }

.icon-vr_video:before { content: "\e631"; }

.icon-changjing:before { content: "\e632"; }

.icon-bofang:before { content: "\e633"; }

.icon-changjing1:before { content: "\e634"; }

.icon-vr:before { content: "\e635"; }

.icon-douban:before { content: "\e636"; }

.icon-gantanhao:before { content: "\e637"; }

.icon-douban1:before { content: "\e638"; }

.icon-gantanhao1:before { content: "\e639"; }

.icon-didian:before { content: "\e63a"; }

.icon-fenxiang:before { content: "\e63b"; }

.icon-liulanliang:before { content: "\e63c"; }

.icon-liulanliang1:before { content: "\e63d"; }

.icon-shijian:before { content: "\e63e"; }

.icon-weixin:before { content: "\e63f"; }

.icon-weibo:before { content: "\e640"; }

.icon-weixin1:before { content: "\e641"; }

.icon-xinlang:before { content: "\e642"; }

.icon-weibo1:before { content: "\e643"; }

.icon-xuexiao2:before { content: "\e644"; }

.icon-weixin2:before { content: "\e645"; }

.icon-zuopin:before { content: "\e646"; }

.icon-zuopinguanli:before { content: "\e647"; }

.icon-yixiazaijianli:before { content: "\e648"; }

.icon-zan1:before { content: "\e649"; }

.icon-new:before { content: "\e64a"; }

.icon-quanping:before { content: "\e64b"; }

.icon-hot:before { content: "\e64c"; }

.icon-ditu:before { content: "\e64d"; }

.icon-yonghu1:before { content: "\e64e"; }

.icon-zuopin1:before { content: "\e64f"; }

.icon-zuobiao:before { content: "\e650"; }

.icon-shoucang:before { content: "\e651"; }

.icon-vr1:before { content: "\e652"; }

.icon-bofangliang:before { content: "\e653"; }

.icon-bofang1:before { content: "\e654"; }

.icon-biaoqian:before { content: "\e655"; }

.icon-QQ:before { content: "\e656"; }

.icon-password:before { content: "\e657"; }

.icon-shoujidenglu:before { content: "\e658"; }

.icon-diannao:before { content: "\e659"; }

.icon-yanjing1:before { content: "\e65a"; }

.icon-shoujidenglu1:before { content: "\e65b"; }

.icon-jianhao:before { content: "\e65c"; }

.icon-duigou:before { content: "\e65d"; }

.icon-shang1:before { content: "\e65e"; }

.icon-shaixuan:before { content: "\e65f"; }

.icon-shimingrenzheng:before { content: "\e660"; }

.icon-zhiwu:before { content: "\e661"; }

.icon-guhua:before { content: "\e662"; }

.icon-xuexiao3:before { content: "\e663"; }

.icon-xiangyou:before { content: "\e664"; }

.icon-shenqingchenggong:before { content: "\e665"; }

.icon-fasongchenggong:before { content: "\e666"; }

.icon-jiantou:before { content: "\e667"; }

.icon-jiantou1:before { content: "\e668"; }

.icon-shoucang1:before { content: "\e669"; }

/*! fullPage 2.9.2 https://github.com/alvarotrigo/fullPage.js MIT licensed Copyright (C) 2013 alvarotrigo.com - A project by Alvaro Trigo */
html.fp-enabled, .fp-enabled body { margin: 0; padding: 0; overflow: hidden; /*Avoid flicker on slides transitions for mobile phones #336 */ -webkit-tap-highlight-color: transparent; }

#superContainer { height: 100%; position: relative; /* Touch detection for Windows 8 */ -ms-touch-action: none; /* IE 11 on Windows Phone 8.1*/ touch-action: none; }

.fp-section { position: relative; -webkit-box-sizing: border-box; /* Safari<=5 Android<=3 */ -moz-box-sizing: border-box; /* <=28 */ box-sizing: border-box; }

.fp-slide { float: left; }

.fp-slide, .fp-slidesContainer { height: 100%; display: block; }

.fp-slides { z-index: 1; height: 100%; overflow: hidden; position: relative; -webkit-transition: all 0.3s ease-out; /* Safari<=6 Android<=4.3 */ -moz-transition: all 0.3s ease-out; transition: all 0.3s ease-out; }

.fp-section.fp-table, .fp-slide.fp-table { display: table; table-layout: fixed; width: 100%; }

.fp-tableCell { display: table-cell; vertical-align: middle; width: 100%; height: 100%; }

.fp-slidesContainer { float: left; position: relative; }

.fp-controlArrow { -webkit-user-select: none; /* webkit (safari, chrome) browsers */ -moz-user-select: none; /* mozilla browsers */ -khtml-user-select: none; /* webkit (konqueror) browsers */ -ms-user-select: none; /* IE10+ */ position: absolute; z-index: 4; top: 50%; cursor: pointer; width: 0; height: 0; border-style: solid; margin-top: -38px; -webkit-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.fp-controlArrow.fp-prev { left: 15px; width: 0; border-width: 38.5px 34px 38.5px 0; border-color: transparent #fff transparent transparent; }

.fp-controlArrow.fp-next { right: 15px; border-width: 38.5px 0 38.5px 34px; border-color: transparent transparent transparent #fff; }

.fp-scrollable { overflow: hidden; position: relative; }

.fp-scroller { overflow: hidden; }

.iScrollIndicator { border: 0 !important; }

.fp-notransition { -webkit-transition: none !important; -moz-transition: none !important; transition: none !important; }

#fp-nav { position: fixed; z-index: 100; margin-top: -32px; top: 50%; opacity: 1; -webkit-transform: translate3d(0, 0, 0); }

#fp-nav.right { right: 17px; }

#fp-nav.left { left: 17px; }

.fp-slidesNav { position: absolute; z-index: 4; left: 50%; opacity: 1; -webkit-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.fp-slidesNav.bottom { bottom: 17px; }

.fp-slidesNav.top { top: 17px; }

#fp-nav ul, .fp-slidesNav ul { margin: 0; padding: 0; }

#fp-nav ul li, .fp-slidesNav ul li { display: block; width: 14px; height: 13px; margin: 7px; position: relative; }

.fp-slidesNav ul li { display: inline-block; }

#fp-nav ul li a, .fp-slidesNav ul li a { display: block; position: relative; z-index: 1; width: 100%; height: 100%; cursor: pointer; text-decoration: none; }

#fp-nav ul li a.active span, .fp-slidesNav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li:hover a.active span { height: 12px; width: 12px; margin: -6px 0 0 -6px; -moz-border-radius: 100%; border-radius: 100%; }

#fp-nav ul li a span, .fp-slidesNav ul li a span { -moz-border-radius: 50%; border-radius: 50%; position: absolute; z-index: 1; height: 4px; width: 4px; border: 0; background: #333; left: 50%; top: 50%; margin: -2px 0 0 -2px; -webkit-transition: all 0.1s ease-in-out; -moz-transition: all 0.1s ease-in-out; -o-transition: all 0.1s ease-in-out; transition: all 0.1s ease-in-out; }

#fp-nav ul li:hover a span, .fp-slidesNav ul li:hover a span { width: 10px; height: 10px; margin: -5px 0px 0px -5px; }

#fp-nav ul li .fp-tooltip { position: absolute; top: -2px; color: #fff; font-size: 14px; font-family: arial, helvetica, sans-serif; white-space: nowrap; max-width: 220px; overflow: hidden; display: block; opacity: 0; width: 0; cursor: pointer; }

#fp-nav ul li:hover .fp-tooltip, #fp-nav.fp-show-active a.active + .fp-tooltip { -webkit-transition: opacity 0.2s ease-in; -moz-transition: opacity 0.2s ease-in; transition: opacity 0.2s ease-in; width: auto; opacity: 1; }

#fp-nav ul li .fp-tooltip.right { right: 20px; }

#fp-nav ul li .fp-tooltip.left { left: 20px; }

.fp-auto-height.fp-section, .fp-auto-height .fp-slide, .fp-auto-height .fp-tableCell { height: auto !important; }

.fp-responsive .fp-auto-height-responsive.fp-section, .fp-responsive .fp-auto-height-responsive .fp-slide, .fp-responsive .fp-auto-height-responsive .fp-tableCell { height: auto !important; }

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

body, html { padding: 0; margin: 0; }

html { background: #f5f3f4; }

body { color: #333333; -webkit-transition: opacity .3s ease; -moz-transition: opacity .3s ease; transition: opacity .3s ease; opacity: 1; }

ul, ol { padding: 0; margin: 0; }

ul li, ol li { list-style: none; }

a { text-decoration: none; color: inherit; }

.rem-ready { opacity: 0; }

.text-center { text-align: center; }

.omit { max-width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

.wrap720, .page-wrap { max-width: 720px; margin: 0 auto; }

.index_m .section { background: #f5f3f4; }

.index_m .page { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -moz-box-orient: vertical; -moz-box-direction: normal; -ms-flex-direction: column; flex-direction: column; overflow-y: auto; min-height: 100%; }

.index-m-navbar { position: fixed; right: 1.81818rem; bottom: 3.63636rem; z-index: 999998; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -moz-box-orient: vertical; -moz-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -moz-box-align: center; -ms-flex-align: center; align-items: center; }

.index-m-navbar .prev { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -moz-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -moz-box-pack: center; -ms-flex-pack: center; justify-content: center; width: 4.09091rem; height: 4.09091rem; background: rgba(0, 0, 0, 0.2); -moz-border-radius: 50%; border-radius: 50%; color: rgba(255, 255, 255, 0.7); }

.index-m-navbar .prev .iconfont { font-size: 1.59091rem; }

.index-m-navbar .next { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -moz-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -moz-box-pack: center; -ms-flex-pack: center; justify-content: center; width: 4.09091rem; height: 4.09091rem; background: rgba(0, 0, 0, 0.2); -moz-border-radius: 50%; border-radius: 50%; color: rgba(255, 255, 255, 0.7); }

.index-m-navbar .next .iconfont { -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); font-size: 1.59091rem; }

.index-m-navbar .progress-bar { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -moz-box-orient: vertical; -moz-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -moz-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -moz-box-align: center; -ms-flex-align: center; align-items: center; width: 0.90909rem; height: 7.72727rem; padding: 0.27273rem 0; margin: 0.45455rem 0; -moz-border-radius: 0.45455rem; border-radius: 0.45455rem; background: rgba(0, 0, 0, 0.2); }

.index-m-navbar .progress-bar i { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -moz-box-orient: horizontal; -moz-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-flex: 1; -moz-box-flex: 1; -ms-flex: 1; flex: 1; width: 0.36364rem; height: 7.27273rem; -moz-border-radius: 0.18182rem; border-radius: 0.18182rem; background: rgba(0, 0, 0, 0.15); overflow: hidden; }

.index-m-navbar .progress-bar i:after { content: ''; width: 100%; height: 14.28571%; background: rgba(0, 0, 0, 0.35); -webkit-transition: height .4s ease; -moz-transition: height .4s ease; transition: height .4s ease; }

.nav-menu-main, .nav-main-fixed, .nav-main { background: #ffffff; }

.nav-menu-main .nav-menu, .nav-main-fixed .nav-menu, .nav-main .nav-menu { -webkit-box-orient: vertical; -webkit-box-direction: normal; -moz-box-orient: vertical; -moz-box-direction: normal; -ms-flex-direction: column; flex-direction: column; height: 41.36364rem; font-size: 1.36364rem; -webkit-transition: opacity .2s ease; -moz-transition: opacity .2s ease; transition: opacity .2s ease; }

.nav-menu-main .nav-menu .top, .nav-main-fixed .nav-menu .top, .nav-main .nav-menu .top { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -moz-box-orient: vertical; -moz-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: justify; -moz-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -moz-box-align: center; -ms-flex-align: center; align-items: center; padding-top: 3.63636rem; padding-bottom: 1.59091rem; height: 11.13636rem; font-size: 1.27273rem; color: #c7c7c7; }

.nav-menu-main .nav-menu .top img, .nav-main-fixed .nav-menu .top img, .nav-main .nav-menu .top img { width: 4.18182rem; }

.nav-menu-main .nav-menu ul, .nav-main-fixed .nav-menu ul, .nav-main .nav-menu ul { padding-bottom: 1.59091rem; color: #838282; background: url("../images/m/nav-menu-bg.png") no-repeat center bottom; -moz-background-size: 18% auto; background-size: 18% auto; }

.nav-menu-main .nav-menu ul .active, .nav-main-fixed .nav-menu ul .active, .nav-main .nav-menu ul .active { color: #333; }

.nav-menu-main .nav-menu ul .active a, .nav-main-fixed .nav-menu ul .active a, .nav-main .nav-menu ul .active a { background-image: url("../images/m/nav-menu-active.png"); }

.nav-menu-main .nav-menu ul a, .nav-main-fixed .nav-menu ul a, .nav-main .nav-menu ul a { display: block; height: 5.04545rem; padding-left: 2.95455rem; line-height: 5.04545rem; background: no-repeat 1.72727rem center; background-image: url("../images/m/nav-menu-none.png"); -moz-background-size: 0.81818rem 0.81818rem; background-size: 0.81818rem 0.81818rem; }

.nav-menu-main .nav-menu .loginbar, .nav-main-fixed .nav-menu .loginbar, .nav-main .nav-menu .loginbar { position: absolute; right: 1.81818rem; bottom: 1.81818rem; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -moz-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-item-align: end; align-self: flex-end; color: #8c8b8b; }

.nav-menu-main .nav-menu .loginbar > a, .nav-main-fixed .nav-menu .loginbar > a, .nav-main .nav-menu .loginbar > a { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -moz-box-align: center; -ms-flex-align: center; align-items: center; padding: 0 0.68182rem; }

.nav-menu-main .nav-menu .loginbar .avatar, .nav-main-fixed .nav-menu .loginbar .avatar, .nav-main .nav-menu .loginbar .avatar { display: inline-block; width: 1.45455rem; height: 1.45455rem; -moz-background-size: cover; background-size: cover; -moz-border-radius: 50%; border-radius: 50%; margin-right: 0.45455rem; }

.nav-menu-main .nav-menu .login-icon, .nav-main-fixed .nav-menu .login-icon, .nav-main .nav-menu .login-icon { display: inline-block; width: 2.04545rem; height: 1.45455rem; background: url("../images/m/login-icon.png") no-repeat center; -moz-background-size: auto 100%; background-size: auto 100%; }

.nav-menu-main .nav-icon, .nav-main-fixed .nav-icon, .nav-main .nav-icon { position: absolute; top: 0; right: 0; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -moz-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -moz-box-align: center; -ms-flex-align: center; align-items: center; width: 4.22727rem; height: 4.22727rem; -webkit-transition: -webkit-transform .5s ease; transition: -webkit-transform .5s ease; -moz-transition: transform .5s ease, -moz-transform .5s ease; transition: transform .5s ease; transition: transform .5s ease, -webkit-transform .5s ease, -moz-transform .5s ease; -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg); }

.nav-menu-main .nav-icon span, .nav-main-fixed .nav-icon span, .nav-main .nav-icon span { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: flex; width: 1.68182rem; height: 1.68182rem; background: url("../images/m/nav-icon.png") no-repeat center; -moz-background-size: 100% auto; background-size: 100% auto; }

.nav-menu-main.open .nav-icon, .open.nav-main-fixed .nav-icon, .open.nav-main .nav-icon { -webkit-transform: rotate(90deg); -moz-transform: rotate(90deg); -ms-transform: rotate(90deg); transform: rotate(90deg); }

.nav-main-fixed { position: fixed; top: 1.2%; right: 6%; overflow: hidden; width: 4.22727rem; height: 4.22727rem; -webkit-box-shadow: 0 0.27273rem 0.54545rem -0.09091rem rgba(0, 0, 0, 0.5); -moz-box-shadow: 0 0.27273rem 0.54545rem -0.09091rem rgba(0, 0, 0, 0.5); box-shadow: 0 0.27273rem 0.54545rem -0.09091rem rgba(0, 0, 0, 0.5); -moz-border-radius: 0.36364rem; border-radius: 0.36364rem; }

.nav-main-fixed.moving { -webkit-transition: width .2s ease, height .3s ease .2s; -moz-transition: width .2s ease, height .3s ease .2s; transition: width .2s ease, height .3s ease .2s; }

.nav-main-fixed.moved { -webkit-transition: width .2s ease .3s, height .3s ease; -moz-transition: width .2s ease .3s, height .3s ease; transition: width .2s ease .3s, height .3s ease; }

.nav-main-fixed.open { width: 88%; height: 41.36364rem; max-height: 97.6%; }

.nav-main-fixed.open .nav-menu { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: flex; opacity: 1; }

.nav-main-fixed .nav-menu { position: absolute; right: 0; }

.nav-main { position: absolute; top: 0; left: 0; z-index: 999999; width: 100%; height: 4.77273rem; overflow: hidden; -webkit-transition: height .5s ease; -moz-transition: height .5s ease; transition: height .5s ease; }

.nav-main.open { height: 41.36364rem; max-height: 97.6%; }

.nav-main.open .nav-menu .top { padding-top: 3.63636rem; }

.nav-main.open .nav-menu .top img { width: 4.18182rem; }

.nav-main.open .nav-menu .top span { opacity: 1; }

.nav-main .nav-menu { position: relative; height: 41.36364rem; }

.nav-main .nav-menu .top { -webkit-transition: all .3s ease; -moz-transition: all .3s ease; transition: all .3s ease; padding-top: 1.13636rem; }

.nav-main .nav-menu .top img { width: 2.95455rem; }

.nav-main .nav-menu .top span { -webkit-transition: all .4s ease; -moz-transition: all .4s ease; transition: all .4s ease; opacity: 0; }

.nav-main .nav-icon { width: 4.77273rem; height: 4.77273rem; }

.fp-viewing-page1 .nav-main-fixed { display: none; }

.fp-viewing-page1 .index-m-navbar .prev { display: none; }

.fp-viewing-page1 .index-m-navbar .progress-bar { display: none; }

.fp-viewing-page1 .fp-scroller { height: 100%; }

.fp-viewing-page7 .index-m-navbar .next { display: none; }

.fp-viewing-page7 .index-m-navbar .progress-bar { display: none; }

.fp-viewing-page1 .index-m-navbar .progress-bar i:after { height: 14.28571%; }

.fp-viewing-page2 .index-m-navbar .progress-bar i:after { height: 28.57143%; }

.fp-viewing-page3 .index-m-navbar .progress-bar i:after { height: 42.85714%; }

.fp-viewing-page4 .index-m-navbar .progress-bar i:after { height: 57.14286%; }

.fp-viewing-page5 .index-m-navbar .progress-bar i:after { height: 71.42857%; }

.fp-viewing-page6 .index-m-navbar .progress-bar i:after { height: 85.71429%; }

.fp-viewing-page7 .index-m-navbar .progress-bar i:after { height: 100%; }

.title-lg { padding-top: 1.59091rem; padding-bottom: 2.18182rem; font-family: "宋体"; font-size: 2.18182rem; height: 20%; }

.title-lg span { display: inline-block; position: relative; padding: 0 3.18182rem; }

.title-lg span:after, .title-lg span:before { content: ''; position: absolute; top: 50%; left: 0; margin-top: -1px; width: 2.5rem; height: 2px; background: #949393; }

.title-lg span:before { left: auto; right: 0; }

.page-wrap { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -moz-box-orient: vertical; -moz-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -moz-box-pack: center; -ms-flex-pack: center; justify-content: center; min-height: 100%; }

.page-wrap .title-lg { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -moz-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -moz-box-pack: center; -ms-flex-pack: center; justify-content: center; padding-top: 1.59091rem; padding-bottom: 2.18182rem; height: 6.36364rem; }

.page-wrap .more-btn-wrap { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -moz-box-pack: center; -ms-flex-pack: center; justify-content: center; height: 6.36364rem; padding: 0rem 0 1.36364rem 0; }

.page3 .exhibition-list__m { padding-top: 0.68182rem; }

.exhibition-list__m { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -moz-box-orient: vertical; -moz-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-flex: .75; -moz-box-flex: .75; -ms-flex: .75; flex: .75; -ms-flex-pack: distribute; justify-content: space-around; padding: 0rem 0.90909rem 1.13636rem; max-height: 45.45455rem; }

.exhibition-list__m > li { padding: 0.22727rem 0; }

.preview { width: 10rem; height: 10rem; background: center no-repeat; -moz-background-size: cover; background-size: cover; }

.exhibition-item__m { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -moz-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; padding: 0.45455rem 0.90909rem 0.45455rem 0.45455rem; background: #fff; border: 1px solid #e5e5e5; }

.exhibition-item__m .preview { position: relative; width: 12.63636rem; height: 12.63636rem; }

.exhibition-item__m .icon-type { position: absolute; left: 0.45455rem; top: 0.45455rem; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -moz-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -moz-box-align: center; -ms-flex-align: center; align-items: center; font-style: normal; width: 3rem; height: 3rem; background: url("../images/m/exhibition-icon.png") #00a0e8; -moz-background-size: cover; background-size: cover; color: #fff; font-size: 1rem; font-weight: bold; -moz-border-radius: 50%; border-radius: 50%; overflow: hidden; }

.exhibition-item__m .info { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -moz-box-orient: vertical; -moz-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: justify; -moz-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; width: 15.90909rem; }

.exhibition-item__m .icon-hot { font-size: 1.27273rem; color: #ff5e45; }

.exhibition-item__m .title { margin-bottom: 1.81818rem; font-size: 1.27273rem; line-height: 1.42857; }

.exhibition-item__m .text-a09e9f { -webkit-box-flex: 1; -moz-box-flex: 1; -ms-flex: 1; flex: 1; font-size: 1rem; color: #a09e9f; }

.exhibition-item__m .count { -webkit-box-pack: end; -moz-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -moz-box-orient: horizontal; -moz-box-direction: normal; -ms-flex-direction: row; flex-direction: row; font-size: 1rem; color: #8a8a8a; }

.exhibition-item__m .count li { padding-left: 0.68182rem; }

.exhibition-item__m .count .iconfont { margin-right: 0.22727rem; font-size: 1rem; }

.more-btn { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -moz-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -moz-box-pack: center; -ms-flex-pack: center; justify-content: center; width: 13.63636rem; height: 3.63636rem; border: 1px solid #bfbfbf; -moz-border-radius: 0.45455rem; border-radius: 0.45455rem; background: #fff; color: #7a7a7a; font-size: 0.90909rem; }

.school-list__m, .member-list__m { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: flex; -webkit-box-flex: 1; -moz-box-flex: 1; -ms-flex: 1; flex: 1; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -moz-box-orient: horizontal; -moz-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-align: center; -moz-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -moz-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; padding: 0 0.90909rem 1.13636rem; max-height: 45.45455rem; }

.school-list__m li, .member-list__m li { padding: 0.22727rem 0; }

.school-item__m { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -moz-box-orient: vertical; -moz-box-direction: normal; -ms-flex-direction: column; flex-direction: column; width: 14.45455rem; padding: 0.68182rem; background: #fff; border: 1px solid #e5e5e5; }

.school-item__m .preview { width: 12.95455rem; height: 12.95455rem; }

.school-item__m .info { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -moz-box-orient: vertical; -moz-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: justify; -moz-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; height: 6.36364rem; padding-top: 0.45455rem; font-size: 1rem; }

.school-item__m .name { font-size: 1.18182rem; line-height: 1.53846; }

.school-item__m .address { color: #a09e9f; }

.school-item__m .count { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -moz-box-orient: horizontal; -moz-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-align: end; -moz-box-align: end; -ms-flex-align: end; align-items: flex-end; -webkit-box-pack: justify; -moz-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; color: #969696; }

.school-item__m .count > li { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -moz-box-align: center; -ms-flex-align: center; align-items: center; }

.school-item__m .count .iconfont { color: #919191; font-size: 0.81818rem; margin: 0 0.22727rem; }

.school-item__m .count .icon-vr { font-size: 1rem; }

.school-item__m .logo-school { width: 1.81818rem; height: 1.81818rem; background: center no-repeat; -moz-background-size: cover; background-size: cover; -moz-border-radius: 50%; border-radius: 50%; }

.member-list__m { max-height: 43.18182rem; -webkit-box-pack: center; -moz-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.member-item__m { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: flex; width: 28.63636rem; height: 6.81818rem; background: #fff; -moz-border-radius-bottomleft: 3.40909rem; border-bottom-left-radius: 3.40909rem; -moz-border-radius-topleft: 3.40909rem; border-top-left-radius: 3.40909rem; overflow: hidden; }

.member-item__m .preview { width: 6.81818rem; height: 6.81818rem; -moz-border-radius: 50%; border-radius: 50%; margin-right: 0.90909rem; }

.member-item__m .info { position: relative; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: flex; -webkit-box-flex: 1; -moz-box-flex: 1; -ms-flex: 1; flex: 1; -webkit-box-orient: vertical; -webkit-box-direction: normal; -moz-box-orient: vertical; -moz-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.member-item__m .name { margin-top: 0.68182rem; font-size: 1.22727rem; line-height: 1.48148; }

.member-item__m .name .iconfont { font-size: 1.18182rem; color: #00a0e8; }

.member-item__m .school { color: #a09e9f; font-size: 1rem; }

.member-item__m .count { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -moz-box-orient: horizontal; -moz-box-direction: normal; -ms-flex-direction: row; flex-direction: row; position: absolute; bottom: 0; right: 0.68182rem; color: #969696; }

.member-item__m .count .iconfont { font-size: 1rem; margin: 0 0.22727rem; }

.partner-wrap { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: flex; -webkit-box-pack: start; -moz-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-orient: vertical; -webkit-box-direction: normal; -moz-box-orient: vertical; -moz-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -ms-flex-wrap: wrap; flex-wrap: wrap; padding-bottom: 5rem; }

.partner-wrap .text-595853 { color: #595853; }

.partner-wrap .foot { position: absolute; bottom: 0; width: 100%; height: 5rem; padding: 0.68182rem 2.04545rem; background: #121127; color: #fff; font-size: 0.90909rem; line-height: 1.3; }

.partner-wrap .partner-title { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -moz-box-align: center; -ms-flex-align: center; align-items: center; height: 2.27273rem; }

.partner-wrap .title-lg { -webkit-box-flex: 0; -moz-box-flex: 0; -ms-flex: none; flex: none; }

.partner-wrap .partner-more { position: absolute; left: 50%; bottom: 1.36364rem; -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); color: #c2c1c1; }

.partner-wrap .partner-more .iconfont { color: #c2c1c1; }

.partner-panel { padding: 0 0.90909rem; overflow: hidden; font-size: 1.09091rem; }

.partner-panel .icon-xiangxia { font-size: 1.09091rem; }

.partner-list__m { position: relative; padding-bottom: 4.31818rem; }

.partner-list__m > .partner-item__m { float: left; width: 14.28571%; padding: 0.31818rem 0.5rem; text-align: center; }

.partner-list__m .preview { display: inline-block; }

.partner-sc { margin: 0 -0.5rem; }

.partner-sc.show { padding-bottom: 0rem; }

.partner-sc.show > .partner-item__m:nth-child(n+22) { display: block; }

.partner-sc > .partner-item__m:nth-child(n+22) { display: none; }

.partner-sc .preview { width: 3.40909rem; height: 3.40909rem; -moz-border-radius: 50%; border-radius: 50%; }

.partner-firm { margin: 0 -0.52273rem; }

.partner-firm.show { padding-bottom: 0rem; }

.partner-firm.show > .partner-item__m:nth-child(n+13) { display: block; }

.partner-firm > .partner-item__m { width: 16.66667%; padding: 0.52273rem; }

.partner-firm > .partner-item__m:nth-child(n+13) { display: none; }

.partner-firm .preview { width: 4.09091rem; height: 4.09091rem; }

.page1 { padding: 5.90909rem 0.90909rem 3.18182rem 0.90909rem; }

.page1 .vr-box { position: relative; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -moz-box-orient: vertical; -moz-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -moz-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-flex: 1; -moz-box-flex: 1; -ms-flex: 1; flex: 1; width: 100%; -moz-border-radius: 0.36364rem; border-radius: 0.36364rem; overflow: hidden; background: url("../images/common/i-banner.jpg") center; -moz-background-size: cover; background-size: cover; }

.page1 .vr-box:before { content: ''; position: absolute; width: 100%; height: 100%; z-index: 999996; background: rgba(0, 0, 0, 0.5); }

.page1 .vr-box iframe { width: 100%; height: 100%; -webkit-box-flex: 1; -moz-box-flex: 1; -ms-flex: 1; flex: 1; }

.page1 .vr-box > img { position: absolute; z-index: 999997; left: 5%; top: 40%; width: 11.36364rem; -webkit-transform: translateY(-25%); -moz-transform: translateY(-25%); -ms-transform: translateY(-25%); transform: translateY(-25%); }
