<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<meta name="renderer" content="webkit">
<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="assets/css/main.css">
<link rel="stylesheet" href="//at.alicdn.com/t/font_492527_713csclojk54gqfr.css">
<link rel="stylesheet" href="assets/css/main1.css">

<!--[if IE]><script src="assets/lib/html5.js"></script><![endif]-->